<div class="smog-alert-details-container">
    <div class="smog-alert-details-list">
        <div class="smog-alert-details-item">
            <div class="smog-alert-details-item-title">PM10</div>
            <!-- div class="smog-alert-details-item-col"><strong>89</strong><span class="unit">%</span></div -->
            <div class="smog-alert-details-item-col"><strong>{{smogAlertData.PM10}}</strong><span class="unit">µg/m³</span></div>
        </div>
        <div class="smog-alert-details-item">
            <div class="smog-alert-details-item-title">PM25</div>
            <!-- div class="smog-alert-details-item-col"><strong>116</strong><span class="unit">%</span></div -->
            <div class="smog-alert-details-item-col"><strong>{{smogAlertData.PM25}}</strong><span class="unit">µg/m³</span></div>
        </div>
        <div class="smog-alert-details-item">
            <div class="smog-alert-details-item-title">PM1</div>
            <div class="smog-alert-details-item-col"><strong>{{smogAlertData.PM1}}</strong><span class="unit">µg/m³</span></div>
        </div>
        <div class="smog-alert-details-item">
            <div class="smog-alert-details-item-title">Temperatura</div>
            <div class="smog-alert-details-item-col"><strong>{{smogAlertData.temperature}}</strong><span class="unit">°C</span></div>
        </div>
        <div class="smog-alert-details-item">
            <div class="smog-alert-details-item-title">Wilgotność</div>
            <div class="smog-alert-details-item-col"><strong>{{smogAlertData.humidity}}</strong><span class="unit">%</span></div>
        </div>
        <div class="smog-alert-details-item">
            <div class="smog-alert-details-item-title">Ciśnienie</div>
            <div class="smog-alert-details-item-col"><strong>{{smogAlertData.pressure}}</strong><span class="unit">hPa</span></div>
        </div>
    </div>
</div>