.header {
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(40,99,177,.2);
    font-weight: 900;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-direction: column;
    position: relative;
    background-color: #2f97d3;
    color:#ffffff;
}
